.login_main_container{
  /** 로그인 컨테이너 */
  background-image: url( "@/assets/image/background/back.jpg" );
  background-size: cover;

  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  min-height: 100vh;

  .login_box{
    background-color: white;
    opacity: 0.85;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: #d3d3d3 solid;
    border-radius: 10px;
    padding: 0.8rem;
    min-width: 500px;
    min-height: 600px;
    &_id_pw{
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        min-width: 26rem;
      }
    }

    .q-field__native {
      height: 3.6rem !important;
      padding: 2px 10px 2px 10px !important;
      font-size: 20px !important;

    }

    .q-field__control {
      color: $main-color !important;
    }

    .q-field__native::placeholder {
      padding-left: 1.6rem !important;
    }

    .logo {
      width : 180px;
      height: 150px;
    }

  }

  img{
    padding-bottom: 2rem;
  }

}

.inner-contents{
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.color-site{
  color: $main-color
}
